In [3]:
from scipy import special

import pandas as pd

import numpy as np

## quickly get ballpark estimate of how long it would take to run various widths/depths

In [43]:
timings = pd.DataFrame()
ng = 64
for ng in [32, 64]:
    for nm in [28, 42, 60]:
        nbf = special.comb(nm, 2)
        elo_nbf = nbf/2

        num_rounds_training = np.ceil(nm/15)
        num_rounds_bf = np.ceil(nbf/15)
        num_rounds_bf_elo = np.ceil(elo_nbf/15)

        time_unit = 60 # minutes
        gen_time = int((num_rounds_training*tq + num_rounds_bf*tb)/time_unit)
        elo_gen_time = int((num_rounds_training*tq + num_rounds_bf_elo*tb)/time_unit)

        total_time = (gen_time*ng)/60
        elo_total_time = (elo_gen_time*ng)/60

        outcome = pd.Series({
            r"$N_g$" : ng, 
            r"$N_m$" : nm, 
            r"$t$" : gen_time, 
            r"$t_E$" : elo_gen_time,
            r"$T$" : total_time, 
            r"$T_E$" : elo_total_time, 
        })
        timings = timings.append(outcome, ignore_index=True)

In [44]:
timings

   $N_g$  $N_m$         $T$       $T_E$    $t$  $t_E$
0   32.0   28.0   27.200000   20.266667   51.0   38.0
1   32.0   42.0   50.666667   35.200000   95.0   66.0
2   32.0   60.0   89.600000   58.133333  168.0  109.0
3   64.0   28.0   54.400000   40.533333   51.0   38.0
4   64.0   42.0  101.333333   70.400000   95.0   66.0
5   64.0   60.0  179.200000  116.266667  168.0  109.0

In [45]:
num_rounds_bf_elo

59.0